[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "kalman-sindy-figures"
authors = [
    {name="Jake Stevens-Haas", email="jacob.stevens.haas@gmail.com"},
]
license = {text = "MIT"}
requires-python = ">=3.10"
dynamic = ["version"]
dependencies = [
    "matplotlib",
    "pysindy-experiments @ git+https://github.com/Jacob-Stevens-Haas/gen-experiments.git"
]
